{%extends 'base_kasir.html'%}

{%block title%}Support{%endblock%}
{%block content%}
<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="title pb-20">
            <h2 class="h3 mb-0">Kantin Amikom</h2>
        </div>

        <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="pull-left">
                    <h4 class="text-blue h4">Support</h4>
                    <p>Emergency</p>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Call Center</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Kantin</td>
                        <td>+62 865452451</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ambulans</td>
                        <td>118/119</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Pemadam</td>
                        <td>113/1131</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Polisi</td>
                        <td>110</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock%}